@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  margin:0;
  padding:0;
  font-family: 'Mona Sans', ui-sans-serif, system-ui, sans-serif;
  background:#fcf9f8;
}

h1,h2,h3,h4{
  font-family: 'Mona Sans', ui-sans-serif, system-ui, sans-serif;
}

html{
  scroll-behavior:smooth;
}